<form class="navbar-form navbar-left">
    <div class="form-group">
        {{input type="text" value=text_order class="form-control" placeholder="Send text order" required="required"}}
    </div>
    <button {{action 'send_order'}} class="btn btn-default">Send</button>
</form>
