<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<h3 class="ellipsis">{{synapse.name}}</h3>
		<img src="assets/images/kalliope.png" alt="synapse" />
    {{#unless ignore}}
  		{{#if synapse.launchable}}
				{{#bs-button type="primary" size="lg" icon="glyphicon glyphicon-play" onClick=(action "launch_synapse" synapse)}} Launch {{/bs-button}}
			{{else}}
				{{#bs-button type="primary" size="lg" icon="glyphicon glyphicon-play" onClick=(action "launch_synapse" synapse) disabled="disabled"}} Launch {{/bs-button}}
			{{/if}}
    {{/unless}}
		<div class="caption">
			<p class="neurons"><span>Neurons</span>: todo</p>
			<p class="signals"><span>Signals</span>: todo</p>
			{{#unless ignore}}
				<p>{{#bs-button type="warning" size="xs" icon="glyphicon glyphicon-eye-close" onClick=(action "ignore_synapse" synapse)}} Ignore {{/bs-button}}</p>
      {{/unless}}

      {{#if ignore}}
				<p>{{#bs-button type="primary" size="xs" icon="glyphicon glyphicon-eye-close" onClick=(action "unignore_synapse" synapse)}} Un-ignore {{/bs-button}}</p>
      {{/if}}
		</div>
	</div>
</div>
