<div class="jumbotron">
  <h2>About this page</h2>
  <p>
    Simple EmberJS application to use kalliope remotely.
  </p>
  <p>
    {{#link-to 'synapses' class="button"}}
      Synapses page
    {{/link-to}}
  </p>
</div>
