{{#bs-navbar position="fixed-top" as |navbar|}}
    <div class="navbar-header">
        {{#navbar.toggle}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/navbar.toggle}}
        <a class="navbar-brand" href="#">Kalliope Remote</a>
    </div>

    {{#navbar.content}}
        {{#navbar.nav as |nav|}}
            {{#nav.dropdown tagName="li" as |dd|}}
                {{#dd.toggle}}List{{/dd.toggle}}
                {{#dd.menu as |ddm|}}
                    {{#ddm.item}}{{#link-to "synapses"}}Synapses{{/link-to}}{{/ddm.item}}
                    {{#ddm.item}}{{#link-to "ignored"}}Ignored synapses{{/link-to}}{{/ddm.item}}
                {{/dd.menu}}
            {{/nav.dropdown}}
            {{#nav.item}}{{#link-to "about"}}About{{/link-to}}{{/nav.item}}
        {{/navbar.nav}}

        {{send-order}}
    {{/navbar.content}}
{{/bs-navbar}}

<div class="container">
  <div class="container-fluid body">
    {{outlet}}
  </div>
</div>

